._app {
    position: relative;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

input, button, ._app, ._header, ._search, ._notif, ._sidebar, ._list, ._list-hover.clone, ._settings-legend, ._settings-btn, ._container, ._content, ._page iframe, ._fail, ._coffeescript>.code>pre, ._socketio .ezcol-one-half {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-size: 1em;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.7;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: #fff;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}